<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:brown;font-size:10px;height:100px">
        Header
        <div style="background-color:burlywood;">
            @RenderSection("HeadSection")
        </div>
    </div>
    <main>
        <div style="background-color:burlywood;height:300px">
            @RenderBody()
        </div>
    </main>
    <div style="background-color:brown;font-size:10px;height:50px">
        Footer
        <div style="background-color:burlywood;">
            @RenderSection("FootSection",false)
        </div>
    </div>
</body>
</html>
